#root {
  /* max-width: 1280px; */
  margin: auto;
  /* padding: 2rem; */
  /* text-align: center; */
}

#container{
  display: flex; 
  flex-direction: column;
  height: 100vh;
}
/* HOME PAGE */
#home-container{
  display: flex;
  flex-direction: column; 
}

#row-container{ 
  display: flex; 
  flex-direction: row;
  height: 100vh;
}

.column{ 
  flex: 1; 
  display: flex; 
  flex-direction: column;
  align-items: center;
  padding: 15px;
}

/* BANK BALANCES */
#balances-container{
  display: flex;
  flex-direction: column;
  width: 100%;
}

#balances-header{
  display: flex;
  flex-direction: row; 
  align-items: center;
}

#balances-header-1{
  flex:1; 
}

#balances-header-2{
  flex:1;
}

#addAccount-btn{
  display: flex;
  align-items: center;   /* Centers items vertically */
  justify-content: center; /* Centers items horizontally */
  gap: 8px; /* Space between text and icon */
  padding: 5px 10px;
  border: none;
  background-color: #007BFF;
  color: white;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  height: 20%;
}


#addAccount-btn:hover {
  background-color: #0056b3;
}

/* NAVBAR */
#navbar{
  display: flex; 
  flex-direction: row;
  height: 10%;
  padding: 20px 40px;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px black solid;
}

#logout-btn{
  background-color: #007BFF;
  color: white;
}

#logout-btn:hover{
  background-color: blue;
}

/* TRANSACTION DISRIBUTION (PIE GRAPH SECTION)*/

.time-btn{
  padding: 5px 10px;
  border: None;
  background: None;
}

.time-btn:hover{
  background-color: lightgrey;
}